.example-card {
  max-width: 400px;
  padding-top:0;
  padding-left:10px;
  padding-right:0px;
  padding-bottom:10px;
  background-color:#F9E79F;
  width:150px;
  text-align: left;

}

.example-header-image {
  background-size: cover;
}

.example-card a {
display: inline;
text-decoration:none;
color:black;
}

.shift{
  align-items: right;
  vertical-align:10px
}

.example-card .EditIcon {
  margin-left : 70px;
}
.example-card .DelIcon{
}
